<div class="row">
  <div class="col-1">
    <button mat-button (click)=toggleAudio()>
        <mat-icon class="svg" svgIcon="play" *ngIf="paused"></mat-icon>
        <mat-icon class="svg" svgIcon="pause" *ngIf="!paused"></mat-icon>
    </button>
  </div>
  <div class="col-2">
    <div>
      <mat-progress-bar #bar class="bar" mode="determinate" [value]="barProgress" (style.width)="progressBarWidth" (click)="barClick($event.layerX, bar._elementRef.nativeElement.clientWidth)"></mat-progress-bar>
    </div>
    <div class="trackInfoWrapper">
      <div class="trackName">
        {{elapsed | trackTime:"s"}}<br/>
        {{track.name}}
      </div>
      <div class="trackArtist">
        {{duration | trackTime:"s"}}<br/>
        {{track.author}}
      </div>
    </div>
  </div>
  <div class="col-3">
      <mat-menu #playerMenu="matMenu" yPosition="above">
          <button mat-menu-item *ngFor="let track of playlist">{{track.name}}</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="playerMenu"><mat-icon>menu</mat-icon></button>
    </div>
</div>
