<table class="tracks">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Artist</th>
    <th><mat-icon>timer</mat-icon></th>
    <th></th>
  </tr>
  <tr *ngFor="let track of tracks">
    <td>
      <button mat-icon-button (click)="playTrack(track)">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </td>
    <td class="hoverable">
      <div class="nameWrapper">
        <div class="nameFlex">
          {{track.name}}
        </div>
        <div class="buttonFlex">
          <button mat-icon-button class="hovButton">
            <mat-icon>info</mat-icon>
          </button>
        </div>  
      </div>
    </td>
    <td class="author">{{track.author}}</td>
    <td>{{track.duration | trackTime:"ms"}}</td>
    <td>
      <img class="originLogo" *ngIf="track.origin==='Spotify'" src="assets/images/spotify.png">
      <img class="originLogo" *ngIf="track.origin==='Deezer'" src="assets/images/deezer.png">
      <img class="originLogo" *ngIf="track.origin==='Jamendo'" src="assets/images/jamendo.png">
    </td>
  </tr>
</table>
